.Form{
    background-color:  darkslategray;
    height: calc(100vh - 5rem);
    /* height is calc'd from h1 in App.js and padding */
    padding: 1rem 0;
}
.Form .container{
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
}
.Form .container .input-name{
    text-align: center;
    border: none;
    border-bottom: solid 1px black;
    display: block;
    height: 2rem;
    width: 90%;
    margin: 0.5rem auto;
}
.Form .container > div{
    background-color: dodgerblue;
    padding: 0.25rem;
    width: 90%;
    margin: 0 auto 0.25rem auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.Form .container div > label{
    align-items: center;
    line-height: 2rem;
}
.Form .container div > select{
    background-color: cornflowerblue;
    font-weight: 600;
    color: white;
    width: 4rem;
    height: 2rem;
    border: none;
    border: solid 1px rgba(0,0,0,0.25);
    margin-left: auto;
}
.Form button{
    font-weight: 600;
    padding: 0.5rem;
    background-color: cornflowerblue;
    border: none;
    border: solid 1px rgba(0,0,0,0.25);
    border-radius: 5px;
    color: white;
}
.Form button:active{
    transform: scale(0.95);
}
@media only screen and (min-width: 600px) {
    .Form .container div, Form .container .input-name{
        max-width: 500px;
    }
}